<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/style/about.css">
</head>
<body>
    <section class="about-hero">
    <video class="hero-video" autoplay muted loop>
        <source src="http://localhost:9000/public/about.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="hero-overlay">
    </div>
    </section>

    <section class="about-section">
        <div class="about-content">
            <h2>About Our Hotel</h2>
            <p>Located in the heart of paradise, our hotel offers a unique blend of luxury, comfort, and breathtaking natural beauty. With world-class amenities, exceptional service, and a commitment to sustainability, we strive to create unforgettable experiences for every guest.</p>
            <p>Whether you're here for relaxation, adventure, or a special occasion, our hotel is the perfect destination for your dream getaway.</p>
        </div>
    </section>

    <section class="team-section">
        <h2>Meet Our Team</h2>
        <div class="team-gallery">
            <div class="team-member">
                <img src="http://localhost:9000/public/reception.jpg" alt="Reception">
                <h3>Maria, John, Erika</h3>
                <p>With over 20 years of experience in hospitality, we ensure every guest enjoys a seamless and memorable stay.</p>
            </div>
            <div class="team-member">
                <img src="http://localhost:9000/public/head.jpg" alt="Head Chef">
                <h3>Emil Davis</h3>
                <p>Head Chef</p>
                <p>Emil brings culinary excellence to our hotel, crafting dishes that celebrate local flavors and international cuisine.</p>
            </div>
            <div class="team-member">
                <img src="http://localhost:9000/public/spateam.jpg" alt="Spa Tean">
                <h3>Nattaya, Suda, Chanti, Pimchan</h3>
                <p>Spa Team</p>
                <p>Our wellness team, offering personalized treatments to help you relax and rejuvenate.</p>
            </div>
        </div>
    </section>
    <div style="color: white; font-size: 5em;">Shop</div>
</body>
</html>